# LF Normalization
* text=auto

# Text Files - Lowercase
*.adoc         text
*.bat          text
*.bowerrc      text
*.c            text
*.c++          text
*.cc           text
*.coffee       text
*.cpp          text
*.css          text
*.csv          text
*.cxx          text
*.df           text
*.doc          text
*.docx         text
*.dot          text
*.ejs          text
*.h            text
*.h++          text
*.haml         text
*.hbs          text
*.hbt          text
*.hh           text
*.hpp          text
*.htm          text
*.html         text
*.ini          text
*.inc          text
*.jade         text
*.java         text
*.js           text
*.json         text
*.jsp          text
*.jspf         text
*.kt           text
*.less         text
*.md           text
*.mustache     text
*.npmignore    text
*.pdf          text
*.php          text
*.phtml        text
*.pl           text
*.properties   text
*.pxd          text
*.py           text
*.py3          text
*.pyw          text
*.pyx          text
*.rb           text
*.rs           text
*.rtf          text
*.sass         text
*.scm          text
*.scss         text
*.sh           text
*.sql          text
*.styl         text
*.svg          text
*.tab          text
*.textile      text
*.tld          text
*.tmpl         text
*.tsv          text
*.txt          text
*.xml          text
*.yaml         text
*.yml          text
.csslintrc     text
.editorconfig  text
.gitattributes text
.gitignore     text
.htaccess      text
.jscsrc        text
.jshintignore  text
.jshintrc      text
.slugignore    text
authors        text
contributors   text
license        text
readme         text

# TEXT FILES - TITLE CASE
Authors        text
Contributors   text
License        text
Readme         text

# TEXT FILES - UPPERCASE
*.ADOC         text
*.BAT          text
*.BOWERRC      text
*.C            text
*.C++          text
*.CC           text
*.COFFEE       text
*.CPP          text
*.CSS          text
*.CSV          text
*.CXX          text
*.DF           text
*.DOC          text
*.DOCX         text
*.DOT          text
*.EJS          text
*.H            text
*.H++          text
*.HAML         text
*.HBS          text
*.HBT          text
*.HH           text
*.HPP          text
*.HTM          text
*.HTML         text
*.INI          text
*.INC          text
*.JADE         text
*.JAVA         text
*.JS           text
*.JSON         text
*.JSP          text
*.JSPF         text
*.KT           text
*.LESS         text
*.MD           text
*.MUSTACHE     text
*.NPMIGNORE    text
*.PDF          text
*.PHP          text
*.PHTML        text
*.PL           text
*.PROPERTIES   text
*.PXD          text
*.PY           text
*.PY3          text
*.PYW          text
*.PYX          text
*.RB           text
*.RS           text
*.RTF          text
*.SASS         text
*.SCM          text
*.SCSS         text
*.SH           text
*.SQL          text
*.STYL         text
*.SVG          text
*.TAB          text
*.TEXTILE      text
*.TLD          text
*.TMPL         text
*.TSV          text
*.TXT          text
*.XML          text
*.YAML         text
*.YML          text
.CSSLINTRC     text
.EDITORCONFIG  text
.GITATTRIBUTES text
.GITIGNORE     text
.HTACCESS      text
.JSCSRC        text
.JSHINTIGNORE  text
.JSHINTRC      text
.SLUGIGNORE    text
AUTHORS        text
CONTRIBUTORS   text
LICENSE        text
README         text

# Binary Files - Lowercase
*.a          binary
*.app        binary
*.class      binary
*.db         binary
*.dll        binary
*.dylib      binary
*.ear        binary
*.exe        binary
*.gch        binary
*.gif        binary
*.ico        binary
*.jar        binary
*.jpeg       binary
*.jpg        binary
*.la         binary
*.lai        binary
*.lib        binary
*.lo         binary
*.o          binary
*.obj        binary
*.out        binary
*.p          binary
*.pch        binary
*.pkl        binary
*.png        binary
*.pyc        binary
*.pyd        binary
*.pyo        binary
*.slo        binary
*.so         binary
*.war        binary

# BINARY FILES - UPPERCASE
*.A          binary
*.APP        binary
*.CLASS      binary
*.DB         binary
*.DLL        binary
*.DYLIB      binary
*.EAR        binary
*.EXE        binary
*.GCH        binary
*.GIF        binary
*.ICO        binary
*.JAR        binary
*.JPEG       binary
*.JPG        binary
*.LA         binary
*.LAI        binary
*.LIB        binary
*.LO         binary
*.O          binary
*.OBJ        binary
*.OUT        binary
*.P          binary
*.PCH        binary
*.PKL        binary
*.PNG        binary
*.PYC        binary
*.PYD        binary
*.PYO        binary
*.SLO        binary
*.SO         binary
*.WAR        binary
